// Colours.
$primary-background: #F8F3ED
$dark-background: #0D0C08
$off-white: #FFFFFF
$dark-grey: #0F1411

// Imports.
@import mixins
@import bootstrap
@import timeline

html, body
    background-color: $primary-background
    font-family: 'Old Standard TT', serif

footer
    padding-bottom: 20px

.site
    display: flex
    min-height: 100vh
    flex-direction: column

.site-content
    flex: 1

.vertical-center
    display: flex
    align-items: center

.vertical-center-no-flex
    display: inline-block
    vertical-align: middle
    float: none

.section
    padding-top: 10vh
    min-height: 50vh

.with-padding
    padding-top: 50px
    padding-bottom: 50px

#timeline
    background-color: $dark-background

#the-couple
    .first-image
        img
            display: block
            margin-left: auto
            margin-right: auto
            max-height: 90vh

@media screen and (min-width: 992px)
    .hide-on-desktop
        display: none

    .with-padding
        padding-top: 100px
        padding-bottom: 100px

    .with-half-padding
        padding-top: 50px
        padding-bottom: 50px

    #the-couple
        .col-md-4
            padding-left: 5px
            padding-right: 5px
            &:nth-of-type(1)
                margin-left: 50px
            &:nth-of-type(2)
                margin-left: -50px
            &:nth-of-type(3)
                margin-left: -50px
        .first-image
            display: flex
            flex-direction: column
            img
                margin-top: auto

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
    // IE 10+ Only styles here.
    #the-couple
        .first-image
            display: inherit
            img
                margin-top: auto
