// Colours.
$primary-background: #F8F3ED
$off-white: #FFFFFF
$dark-grey: #0F1411

// Imports.
@import mixins
@import bootstrap

html, body
    background-color: $primary-background

.site
    display: flex
    min-height: 100vh
    flex-direction: column

.site-content
    flex: 1

.vertical-center
    display: flex
    align-items: center
