footer
    div.text-center
        p Website build by Daniel Swain. &copy; 2017
        p 
            | Want a site built, get in touch via: 
            b
                a(href='mailto:contact@danielcswain.com') contact@danielcswain.com