include mixins/fields.pug

div#rsvp.row
    .col-md-8.col-md-offset-2
        form(
            method='POST',
            action='https://formspree.io/etwedding19@gmail.com'
        )
            h2 Say you'll be there
            h5 Please RSVP by no later than 28 February 2018 to help us prepare our events

            .form-group
                +field_input('email', 'email', '', 'Email Address')

            .form-group
                +field_input('text', 'name', '', 'Your Name')

            .form-group
                +field_input('text', 'guest', '', 'Your Guest\'s Name')

            h4 I'm going to...

            .form-group
                label(for='wedding', onclick='handle_selection("wedding")')
                    +field_input('checkbox', 'wedding', 'wedding', '')
                    |  The Wedding (Hawaii)
                br
                label(for='celebration_1', onclick='handle_selection("celebration_1")')
                    +field_input('checkbox', 'celebration_1', 'London', '')
                    |  London (Celebration 1.0)
                br
                label(for='celebration_2', onclick='handle_selection("celebration_2")')
                    +field_input('checkbox', 'celebration_2', 'Perth', '')
                    |  Perth (Celebration 2.0)
                br
                label(for='none', onclick='handle_selection("none")')
                    +field_input('checkbox', 'none', 'none', '')
                    |  None, with regrets

            .form-group
                +field_input('text', 'diet', '', 'Dietary Requirements')

            .form-group
                +field_input('text', 'favourite_song_to_dance_to', '', 'Favourite Song to Dance to')

            .form-group
                +field_textarea('message', 'Your message')

            .form-group
                button.btn.btn-primary.pull-right(type='submit') Send
