//- Include the time line mixins.
include mixins/timeline

section.cd-horizontal-timeline#the-timeline
    .timeline
        .events-wrapper
            .events
                ol
                    +timeline_event('22/06/1989', 'Jun 89')(class='selected')
                    +timeline_event('21/07/1991', 'Jul 91')
                    +timeline_event('23/10/2007', 'Oct 07')
                    +timeline_event('01/04/2010', 'Apr 10')
                    +timeline_event('15/01/2011', 'Jan 11')
                    +timeline_event('16/11/2014', 'Nov 14')
                    +timeline_event('04/01/2016', 'Jan 16')
                    +timeline_event('23/02/2017', 'Feb 17')
                    +timeline_event('03/12/2017', 'Dec 17')
                    +timeline_event('15/01/2019', '2019')
                
                span.filling-line(aria-hidden='true')

        ul.cd-timeline-navigation
            li.hide-on-desktop
                a.prev.inactive(href='#0') Prev
            li.hide-on-desktop
                a.next(href='#0') Next

    .events-content
        ol
            +timeline_event_content('22/06/1989', 'Teejay is born', '22 June 1989')(class='selected')
                p Teejay is born in London, England.

            +timeline_event_content('21/07/1991', 'Elisha is born', '21 July 1991')
                div.row
                    .col-md-6.col-sm-12.vertical-center-no-flex
                        p Elisha is born in Perth, Australia.
                    .col-md-6.col-sm-12.vertical-center-no-flex
                        img.img-responsive(src='img/Jul 91.jpg', alt='Elisha July 1991')

            +timeline_event_content('23/10/2007', 'Teejay arrived in Australia', '23 October 2007')
                div.row
                    .col-md-6.col-sm-12.vertical-center-no-flex
                        p Teejay and his family arrived in Australia.
                    .col-md-6.col-sm-12.vertical-center-no-flex
                        img.img-responsive(src='img/Oct 07.JPG', alt='Teejay and Elisha 2007')

            +timeline_event_content('01/04/2010', 'First met', 'April, 2010')
                div.row
                    .col-md-6.col-sm-12.vertical-center-no-flex
                        p Elisha and Teejay first met through mutual friends at Burswood Casino, Perth.
                    .col-md-6.col-sm-12.vertical-center-no-flex
                        img.img-responsive(src='img/April 10.JPG', alt='Elisha and Teejay 2010')

            +timeline_event_content('15/01/2011', 'First Date', '15 January 2011')
                div.row
                    .col-md-6.col-sm-12.vertical-center-no-flex
                        p Elisha and Teejay went on their first date at Scarborough Beach, Perth.
                    .col-md-6.col-sm-12.vertical-center-no-flex
                        img.img-responsive(src='img/Jan 11.JPG', alt='Teejay and Elisha at Scarborough Beach 2011')

            +timeline_event_content('16/11/2014', 'Moved in together', '16 November 2014')
                div.row
                    .col-md-6.col-sm-12.vertical-center-no-flex
                        p Elisha and Teejay moved into their first home together.
                    .col-md-6.col-sm-12.vertical-center-no-flex
                        img.img-responsive(src='img/Nov 14.JPG', alt='Teejay and Elisha at their new home 2014')

            +timeline_event_content('04/01/2016', 'Hercules joins the fun', '4 January 2016')
                div.row
                    .col-md-6.col-sm-12.vertical-center-no-flex
                        p Hercules joined the family.
                    .col-md-6.col-sm-12.vertical-center-no-flex
                        img.img-responsive(src='img/Jan 16.JPG', alt='Teejay, Hercules and Elisha 2016')

            +timeline_event_content('23/02/2017', 'Proposal', '23 February 2017')
                div.row
                    .col-md-6.col-sm-12.vertical-center-no-flex
                        p Teejay proposed to Elisha in Paris at Euro Disneyland.
                    .col-md-6.col-sm-12.vertical-center-no-flex
                        img.img-responsive(src='img/Feb 17.JPG', alt='Teejay and Elisha after Teejay proposed 2017')

            +timeline_event_content('03/12/2017', 'Baby due', '3 December 2017')
                div.row
                    .col-md-6.col-sm-12.vertical-center-no-flex
                        p Baby Driver is due.
                    .col-md-6.col-sm-12.vertical-center-no-flex
                        img.img-responsive(src='img/Dec 17.JPG', alt='Teejay and Elisha pregnancy photo 2017')

            +timeline_event_content('15/01/2019', 'Wedding', 'January - February 2019')
                p Elisha and Teejay are getting married January 2019.
                p All the details for the wedding ceremony and celebrations can be found below.
